#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.product-grid {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  cursor: grab;
  user-select: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.product-grid::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.product-grid:active {
  cursor: grabbing;
}

.product-grid img {
  pointer-events: none; /* prevents mouse from interacting directly with images */
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

.product {
  min-width: 200px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image{
  border-radius: 20px;
}

.counter{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

.counter-btn{
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}

.counter-nmb{
  padding-left: 25px;
  padding-right: 25px;
}

.social-card img{
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
}