#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.product-grid{
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  overflow-x: auto;
}

.product{
  padding: 20px;
  min-width: 150px;
  text-align: center;
}

.product-image{
  border-radius: 20px;
}

.counter{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

.counter-btn{
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}

.counter-nmb{
  padding-left: 25px;
  padding-right: 25px;
}

.social-card img{
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
}